img {
  background-image: 200px;
  max-width: 100%;
  font-size: medium;
  margin-right: 100px;
  padding-left: 400px;
  margin-block: 300px;
  max-width: 200px;
}

body {
  background-color: yellow;
}
